.card {
  background-color: var(--color-secondary-glare);
  padding: var(--space-l);
  max-width: unset;
  box-shadow: 0.5rem -0.5rem 0 var(--color-secondary),
    -0.5rem 0.5rem 0 var(--color-primary);
}

.card ::selection {
  color: var(--color-dark);
  background: var(--color-secondary);
}

.card h2 {
  font-size: var(--size-step-3);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

/* 'clickable' */
