.gradient-text {
  color: transparent;
  background: linear-gradient(
    to top right,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary) 33%,
    var(--color-secondary) 55%,
    #1471bb,
    #1471bb,
    #ff8b59 70%,
    #ff8b59 87%,
    #c569bc
  );
  background-clip: text;
}
