.gradient-text {
  color: transparent;
  background: linear-gradient(
    35deg,
    #c569bc,
    var(--color-primary-glare),
    #c569bc 50%,
    var(--color-primary-glare) 85%,
    var(--color-secondary-glare)
  );
  background-clip: text;
  background-size: 400%;
}

/* .gradient-text {
  color: var(--color-primary-glare);
  text-shadow: 0.1ex 0.1ex 0 var(--color-primary);
} */
