/* .gradient-text {
  color: transparent;
  background: linear-gradient(
    to top right,
    var(--color-primary),
    var(--color-secondary) 33%,
    #1471bb,
    #ff8b59 70%,
    #c569bc
  );
  background-clip: text;
} */

.gradient-text {
  color: var(--color-primary-glare);
  text-shadow: 0.1ex 0.1ex 0 var(--color-primary);
}
