---
layout: base
---

<header class="section spot-color-light-glare">
  <div class="section__inner relative">
    <div class="wrapper flow region">
      <h1 class="text-center text-primary">{{ title }}</h1>
    </div>
    <!-- <div class="circle bg-secondary-glare"></div>
    <div class="circle bg-primary-glare"></div>
    <div class="circle bg-primary"></div>
    <div class="circle bg-secondary-glare"></div>
    <div class="circle bg-primary-glare"></div>
    <div class="circle bg-primary"></div>
    <div class="circle bg-primary-glare"></div>
    <div class="circle bg-primary-glare"></div> -->
  </div>
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %}
  </div>
  <!-- TODO: duplicate of partials/blog.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 4) %}

    <li class="card flow overflow-hidden">
      <h3>
        {{ post.data.title }}
      </h3>
      <p>{{ post.data.description }}</p>
      <div class="flex gap-xs font-mono text-primary">
        {% if post.data.link %}<a href="{{ post.data.link }}">View the live site</a>{%
        endif %} {% if post.data.repo %}<a href="{{ post.data.repo }}">View the code</a>{%
        endif %}
      </div>
    </li>

    {% endfor %}
  </ul>
</article>
