<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class=" relative bg-light-glare" role="banner">
  <div class="wrapper site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline mx-auto text-center font-display" {% if activePage === '/' %} aria-current="page" {% endif %}>

      {{ meta.siteName }}
    </a>
  </div>
</header>
